*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    
    width: 100%;
    height: 90vh;
    background-image: url(./imagenes/fondo1.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    margin-left: 20px;
    border-radius: 50px;
}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, .95);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}
.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

}
.nav-menu li a.active, .nav-menu li a:hover{
    color: rgba(4, 28, 160, 0.726);
    transition: .3s;   

}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li{
    display: block;
}
.banner-text{
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: #fff;
}
.banner-text h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 1000;
}
.button1{
    margin-right: 40px;
    padding: 10px 35px;
    background-color:rgb(248, 8, 8) ;
    color: #fff;
    border-radius: 8px;
}
.button1:hover{
    background-color: #fff;
    color:rgb(248, 8, 8);
    transition: .5s;
}
.button2{
    margin-right: 40px;
    padding: 10px 35px;
    background-color:#fff;
    color: rgb(248, 8, 8);
    border-radius: 8px;
}
.button2:hover{
    background-color:rgb(248, 8, 8);
    color:#fff;
    transition: .5s;
}




.section1{
    width: 100%;
    background-color: #7510F7;
  
}
.div-iconomaxi{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
    padding-top: 50px;
    background-color: #fff;
}
.icono-maxi{
    width: 250px;
    height: 240px;
    border-radius: 50%;
    box-shadow: -1px -1px 38px 1px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px -1px 38px 1px rgba(0,0,0,0.45);
-moz-box-shadow: -1px -1px 38px 1px rgba(0,0,0,0.45);
}
.section1 h2{
    text-align: center;
}
.div-h2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;


}

.h2-hola{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0 80px 0;
    font-size: 2.5vw;
    font-weight: 800;
    width: 90%;
  
    
}
.h2-estudio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0 0 0;
    font-size: 2vw;
    font-weight: 800;
    padding-bottom: 0;
    width: 80%;
}


.iconos{
    background-color: #7510F7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    
}

.iconos img{
    width: 200px;
    height: 200px;
    margin: 20px;
    
    
}

.clientes{
    text-align: center;
    padding-top: 70px;
    background-color: #E0E0DD;
    padding-bottom: 70px;
}

.clientes h2{
    margin-bottom: 150px;
    font-size: 3rem;
    font-family: fantasy;
}

.div-clientes{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.div-clientes img{
    width: 300px;
    height: 300px;
    border: black solid 2px;
    border-radius: 20px;
}
.divdeldiv{
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 65%;
    margin-top: 50px;
    border: rgb(119, 11, 11) solid 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divdeldiv h3{
    width: 30%;
}
.div-clientes img:hover{
    border-radius:50%;
    box-shadow: 0px 0px 15px 15px #473d35;
    -webkit-box-shadow: 0px 0px 15px 15px #4b3f37;
    
    }


.pie-pagina{
    width: 100%;
    background-color: #090D0C;
}
.grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px;

}
.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box figure img{
    width: 250px;
}
.box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.box p{
    color: #efefef;
    margin-bottom: 10px;

}
.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    margin-right: 10px;
    color: #fff;
    background-color: #0C1E30;
    text-align: center;
    transition: all 200ms ease;
}
.red-social a:hover{
    color:rgb(17, 230, 230) ;
}
.grupo-2{
    background-color: #0C1E30;
    padding: 15px 10px;
    text-align: center;
    color: #efefef;
}
.grupo-2 small{
    font-size: 15px;

}



@media screen and (min-width: 800px){

    .logo{
        margin-left: 250px;
    }

    nav{
        height: 100px;
        

    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;

    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }
    .nav-menu li a{
        font: 12px;

    }
    .banner-text h1{
        font-size: 70px;
        margin-bottom: 30px;
    }

    .banner-text h2{

        font-size: 20px;

    }
   
    
        
    }

    @media (max-width: 450px){
        .banner-text div{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

        }
        .buttons a{
            margin: 0 5px 20px 0  ;
        }
     

    }

    @media (max-width: 650px){

        .iconos{
            flex-direction: column;
            width: 100%;
        }
        
        .h2-hola{

            font-size: 25px
        }
        .h2-estudio{

            font-size: 20px;
        }
        .divdeldiv{
            width: 80%;
        }
        .divdeldiv h3{
            display: none;   
        }
        .divdeldiv img{
            width: 250px;
            height: 250px;
        }

    }

    @media (max-width: 800px){
        .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding: 35px 0px;
    }
    }